.conflict {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)), url('../../media/palswalls.jpg') no-repeat center center/cover; /*sets background of element, center/cover is position and size*/
}

.conflict .container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 60px;
}

.conflict .top {
    margin-top: 7rem;
    color: #f6f6f6;
}

.conflict .bottom {
    display: flex; /*places in horizontal order*/
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin-bottom: 4rem;
}

.conflict .container .textbox { /*contains textboxes, so can position those, and this as whole gets positioned by parent container*/
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    width: 70%;
}

.conflict .container .textbox .exp {
    flex: 1 1 0; /*flex grow, shrink, basis order. basis 0 means both elements default at 0. grow = k means each element gets k% of remaining space (50-50 here). shrink = k means if overflow, each element shrinks by k% of excess space (same here) -> result is equal sizes */
}

.conflict .container .textbox .hist {
    flex: 1 1 0;
}


@media screen and (max-width: 540px) {
    .conflict .container .bottom { /*can address unique parts via class names*/
        flex-direction: column; 
        align-items: center;
    }
}